@model IEnumerable<Medipharmacy.Models.Price>

@{
    ViewData["Title"] = "Prices";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Prices</h3>
<hr />
<p>
    <a class="btn btn-info" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="GetModel('/price/create')"><i class="far fa-plus"></i> New Price</a>
</p>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Content Here-->
        </div>
    </div>
</div>

<table class="table table-hover table-striped table-responsive table-info">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th style="text-align: right">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            var products = ViewBag.products as List<Product>;
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                         @products.Find(p => p.ProductId.Equals(item.ProductId)).Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Promotion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td style="text-align: right">
                        <div class="btn-group">
                            <a class="mx-2" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="GetModel('/price/view/@item.PriceId')"><i class="far fa-eye text-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="view"></i></a>
                            <a class="mx-2" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="GetModel('/price/edit/@item.PriceId')"><i class="far fa-edit text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="edit"></i></a>
                            <a class="mx-2" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="GetModel('/price/delete/@item.PriceId')"><i class="far fa-trash-alt text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="delete"></i></a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
